{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
{% block content %}
<div class="main" style="margin-top: 100px;">
<div class="container">
<form class="form-group" method="post" action="{% url 'submit' %}">
    {% csrf_token %}
    <label>
        <input type="number" class="form-control" placeholder="+254" name="phone_number" required>
    </label>
        <label>
        <input type="number" class="form-control" placeholder="amount" name="amount" required>
    </label>
    <button class="btn btn-primary" type="submit">submit</button>
</form>
</div>
    </div>
{% endblock %}
</body>
</html>