{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookingForm</title>
</head>
<body>
{% block content %}
<div class="main" style="margin-top: 100px;display:block;">
<form method="post" style="display: grid;justify-content: center;align-items: center;">
{% csrf_token %}
{% for field in form %}
    <label>{{ field.label_tag }}</label>
    {{ field }}
    {% endfor %}
    <button class="btn btn-info" type="submit">book now</button>
</form>
</div>

{% endblock %}
</body>
</html>